<!-- Homepage -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- main banner -->
<main class="container">
<div class="jumbotron">
<section class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2 class="hero_title">Welcome to <br> <span>Survey Donkey!</span></h2>
          <p class="hero_desc">-- mission statement --</p>
          <div class="d-grid gap-2 d-md-flex justify-content-start">
          <a class="btn btn-outline-secondary btn-lg px-4" href="/survey-list/add">Take a Survey</a>
          <a class="btn btn-outline-secondary btn-lg px-4" href="/survey-list">View Surveys</a>
          </div>
      </div>
      </div>
  </div>
</section>
</div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>