<!--
 * COMP229-015    Group 7
 * Group Project  Part 2 First Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Akash Arora – 300849838
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Nithiyavany Vijai – 301212774
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * 
 * File name:     index.ejs
 * Description:   Contains page structure
-->

<!-- Homepage -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<!-- main banner -->
<section class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a href="/home"><img src="assets/images/logo3.png" alt="logo" id="logo"></a>
          <h2 class="hero_title">Welcome to <span>Survey Donkey!</span></h2>
          <p class="hero_desc"></p>
            <button type="button" class="btn btn-outline-dark" id="abt-btn"><a href="/survey-list/add" id="abt-link">Create New Survey &rarr;</a></button>
            <button type="button" class="btn btn-outline-dark" id="abt-btn"><a href="/survey-list" id="abt-link">Availiable Surveys &rarr;</a></button>

      </div>
      </div>
  </div>
</section>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>