/*
 * COMP229-015    Group 7
 * Group Project  Part 2 First Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     app.css
 * Description:   Custom css - styles for entire site
*/

/* Home page */
.bgimage {
  height: 100vh;
  background: url('assets/images/');
  background-size: cover;
  position: relative;

}
.container-fluid a {
  text-decoration: none;
}

#navbarSupportedContent ul a {
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 30px;
  position: relative;
}

#navbarSupportedContent ul a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#navbarSupportedContent ul a:hover::after {
  width: 90%;
}


.hero_title span {
  color: #ff004f;
}

.hero_title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  margin-left: 1050px;
  margin-top: 150px;
}

.btn-create {
  border-radius: 5%;
}

#take-btn {
  margin-left: 400px;
}

.hero_desc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-left: 1050px;
  margin-top: 20px;
}

#logo {
  width: 230px;
  height: 100px;
  border-radius: 5%;
  margin-left: -650px;
}

#land_girl {
  width: 500px;
  height: 500px;
  float:left;
  margin-top: 120px;
  margin-left: 190px;
}

#logo:hover {
  transform: translateY(-10px);
}

/* Survey List Page */
#table {
  margin-left: 500px;
}


#table_title {
  margin-left: 875px;
}

#add_btn {
  margin-left: 500px;
}

#curr_session {
  margin-left: 800px;
}

#login_nav {
  margin-left: 1100px;
}