/*
 * COMP229-015    Group 7
 * Group Project  Part 2 First Release
 * Project Name:  Survey Donkey
 * 
 * Members (name/student ID):
 * Alina Fadeeva – 301249589
 * Nadia Velikaia – 301244426
 * Terence Chu – 301220117
 * Zhihao Yu – 301305633
 * Akash Arora – 300849838
 * Nithiyavany Vijai – 301212774
 * 
 * File name:     app.css
 * Description:   Custom css - styles for entire site
*/

/* Home page */
.bgimage {
  height: 100vh;
  background: url('assets/images/');
  background-size: cover;
  position: relative;

}

.container-fluid a {
  text-decoration: none;
}

#navbarSupportedContent ul a {
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 30px;
  position: relative;
}

#navbarSupportedContent ul a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#navbarSupportedContent ul a:hover::after {
  width: 90%;
}


.hero_title span {
  color: #ff004f;
}

.hero_title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  margin-left: 850px;
  margin-top: 150px;
}

.btn-create {
  border-radius: 5%;
}

#take-btn {
  margin-left: 160px;
  transition: background 0.5s;
}

#view-btn {
  margin-left: 30px;
  transition: background 0.5s;
}

#take-btn:hover {
  background: #ff004f;
}
#view-btn:hover {
  background: #ff004f;
}

.hero_desc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-left: 850px;
  margin-top: 20px;
}

#logo {
  width: 230px;
  height: 100px;
  border-radius: 5%;
  margin-left: -650px;
}

#land_girl {
  width: 500px;
  height: 500px;
  float: left;
  margin-top: 170px;
  margin-left: 190px;
}

#logo:hover {
  transform: translateY(-10px);
}

/* Survey List Page */
#table {
  margin-left: 500px;
}


#table_title {
  margin-left: 875px;
}

#add_btn {
  margin-left: 500px;
}

#curr_session {
  margin-left: 800px;
}

#login_nav {
  margin-left: 1100px;
}

.nav-login {
  margin-left: 1100px;
}

.message{
  margin-top: 100px;
}

/* Poppup box */
.popup{
  width: 400px;
  background:rgb(219, 226, 177);
  border: #9372e7;
  border-radius: 6px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)scale(0.1) ; 
  text-align: center;
  padding: 0 30px 30px;
  color: rgb(87, 30, 4);
  visibility: hidden;
  transition: transform 0.5s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) ;
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #fefdfe;
  color:rgb(12, 89, 79);
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
 box-shadow: 0 2px 5px rgba(161, 224, 159, 0.2);
}
